<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <context:component-scan base-package="ru.sgu.csit.selectioncommittee.security"/>
    <context:component-scan base-package="ru.sgu.csit.selectioncommittee.gui"/>
    <context:component-scan base-package="ru.sgu.csit.selectioncommittee.gui.actions"/>
    <context:annotation-config/>

    <bean id="mainFrame" class="ru.sgu.csit.selectioncommittee.gui.MainFrame">
        <property name="logInAction" ref="logInAction"/>
        <property name="addMatriculantAction" ref="addMatriculantAction"/>
        <property name="editMatriculantAction" ref="editMatriculantAction"/>
        <property name="matriculantInfoAction" ref="matriculantInfoAction"/>
        <property name="deleteMatriculantAction" ref="deleteMatriculantAction"/>
        <property name="exportToExcelAction" ref="exportToExcelAction"/>
        <property name="calculateMatriculantsAction" ref="calculateMatriculantsAction"/>
        <property name="apportionMatriculantsAction" ref="apportionMatriculantsAction"/>
        <property name="sortAction" ref="sortAction"/>
        <property name="reloadAction" ref="reloadAction"/>
        <property name="resizeTableAction" ref="resizeTableAction"/>
        <property name="switchHighlightingTableAction" ref="switchHighlightingTableAction"/>
        <property name="exitAction" ref="exitAction"/>                                    
        <property name="aboutAction" ref="aboutAction"/>
    </bean>

    <bean id="loginDialog" class="ru.sgu.csit.selectioncommittee.gui.dialogs.LogInDialog">
        <property name="owner" ref="mainFrame"/>
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

    <bean id="logInAction" class="ru.sgu.csit.selectioncommittee.gui.actions.LogInAction">
        <property name="owner" ref="mainFrame"/>
    </bean>

    <security:global-method-security secured-annotations="enabled">
        <security:protect-pointcut
                expression="execution(* ru.sgu.csit.selectioncommittee.gui.actions.AddMatriculantAction.open*(..))" 
                access="ROLE_WORKER"/>
    </security:global-method-security>

</beans>